body{
    font-family: 'PT Sans', sans-serif;
}
 
#hero-home{
    background-image: url(nassar.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
}

/*#hero-home div{
    background-color: rgb(0 0 0 / 50%);
}*/

#cards-container{
    height: 63vh;
    width: 100%;
    background-color: aquamarine;
}




